<main class="contacts">
    
    <h3>Contacts</h3>

    <p>Thank you for visiting!</p>

    <p>Feel free to contact me anytime.</p>

    <p>

        {% include call.svg %}

        +351 914 14 43 23

    </p>

    <a href="mailto:{{site.email}}"> 

        {% include mail.svg %}

    </a>

    <a href="https://www.behance.net/camilamoura4">

        {% include behance.svg %}

    </a>

    <a href="https://www.linkedin.com/in/camilavmoura/">   

        {% include linkedin.svg %}

    </a>
    
</main>