<footer>
        
    <h3>Contacts</h3>
    
    <p>Feel free to contact me anytime!</p>
    
    <p> 
        
        <img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yMi4yODggMjFoLTIwLjU3NmMtLjk0NSAwLTEuNzEyLS43NjctMS43MTItMS43MTJ2LTEzLjU3NmMwLS45NDUuNzY3LTEuNzEyIDEuNzEyLTEuNzEyaDIwLjU3NmMuOTQ1IDAgMS43MTIuNzY3IDEuNzEyIDEuNzEydjEzLjU3NmMwIC45NDUtLjc2NyAxLjcxMi0xLjcxMiAxLjcxMnptLTEwLjI4OC02LjA4NmwtOS4zNDItNi40ODMtLjAyIDExLjU2OWgxOC42ODR2LTExLjU2OWwtOS4zMjIgNi40ODN6bTguODY5LTkuOTE0aC0xNy43ODlsOC45MiA2LjIyOXM2LjI1Mi00LjQwNiA4Ljg2OS02LjIyOXoiLz48L3N2Zz4=">camilavilelam@gmail.com
    
    </p>
    
    <p>
        
        <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjAgMjIuNjIxbC0zLjUyMS02Ljc5NWMtLjAwOC4wMDQtMS45NzQuOTctMi4wNjQgMS4wMTEtMi4yNCAxLjA4Ni02Ljc5OS03LjgyLTQuNjA5LTguOTk0bDIuMDgzLTEuMDI2LTMuNDkzLTYuODE3LTIuMTA2IDEuMDM5Yy03LjIwMiAzLjc1NSA0LjIzMyAyNS45ODIgMTEuNiAyMi42MTUuMTIxLS4wNTUgMi4xMDItMS4wMjkgMi4xMS0xLjAzM3oiLz48L3N2Zz4=">+351 914 14 43 23
    
    </p>
   
    <a href="https://www.behance.net/camilamoura4">
       
        <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjIgN2gtN3YtMmg3djJ6bTEuNzI2IDEwYy0uNDQyIDEuMjk3LTIuMDI5IDMtNS4xMDEgMy0zLjA3NCAwLTUuNTY0LTEuNzI5LTUuNTY0LTUuNjc1IDAtMy45MSAyLjMyNS01LjkyIDUuNDY2LTUuOTIgMy4wODIgMCA0Ljk2NCAxLjc4MiA1LjM3NSA0LjQyNi4wNzguNTA2LjEwOSAxLjE4OC4wOTUgMi4xNGgtOC4wMjdjLjEzIDMuMjExIDMuNDgzIDMuMzEyIDQuNTg4IDIuMDI5aDMuMTY4em0tNy42ODYtNGg0Ljk2NWMtLjEwNS0xLjU0Ny0xLjEzNi0yLjIxOS0yLjQ3Ny0yLjIxOS0xLjQ2NiAwLTIuMjc3Ljc2OC0yLjQ4OCAyLjIxOXptLTkuNTc0IDYuOTg4aC02LjQ2NnYtMTQuOTY3aDYuOTUzYzUuNDc2LjA4MSA1LjU4IDUuNDQ0IDIuNzIgNi45MDYgMy40NjEgMS4yNiAzLjU3NyA4LjA2MS0zLjIwNyA4LjA2MXptLTMuNDY2LTguOTg4aDMuNTg0YzIuNTA4IDAgMi45MDYtMy0uMzEyLTNoLTMuMjcydjN6bTMuMzkxIDNoLTMuMzkxdjMuMDE2aDMuMzQxYzMuMDU1IDAgMi44NjgtMy4wMTYuMDUtMy4wMTZ6Ii8+PC9zdmc+">
        
    </a>

    
    <a href="https://www.linkedin.com/in/camilavmoura/">   
    
        <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTkgMGgtMTRjLTIuNzYxIDAtNSAyLjIzOS01IDV2MTRjMCAyLjc2MSAyLjIzOSA1IDUgNWgxNGMyLjc2MiAwIDUtMi4yMzkgNS01di0xNGMwLTIuNzYxLTIuMjM4LTUtNS01em0tMTEgMTloLTN2LTExaDN2MTF6bS0xLjUtMTIuMjY4Yy0uOTY2IDAtMS43NS0uNzktMS43NS0xLjc2NHMuNzg0LTEuNzY0IDEuNzUtMS43NjQgMS43NS43OSAxLjc1IDEuNzY0LS43ODMgMS43NjQtMS43NSAxLjc2NHptMTMuNSAxMi4yNjhoLTN2LTUuNjA0YzAtMy4zNjgtNC0zLjExMy00IDB2NS42MDRoLTN2LTExaDN2MS43NjVjMS4zOTYtMi41ODYgNy0yLjc3NyA3IDIuNDc2djYuNzU5eiIvPjwvc3ZnPg=="> 
    
    </a>
    
</footer>