<header>
    
    {% include nav.html %}
    
    <a href="index.html">
        <img class="title" src="assets/images/titulocurto-01.png" alt="Dark and light blue squared carpet with golden seashells of various shapes in the background. Title of the portfolio: 'Carpet' in portuguese, in black with a white background" width="100%" title="Dark and light blue squared carpet with golden seashells of various shapes">
        <img class="title1" src="assets/images/titulopequeno-01.png" alt="Dark and light blue squared carpet with golden seashells of various shapes in the background. Title of the portfolio: 'Carpet' in portuguese, in black with a white background" width="100%" title="Title of the portfolio: 'Carpet' in portuguese, in black with a white background">
    </a>
</header>