<h2>{{site.data.samplelist.docs_list_title}}</h2>

<ul>
 
    {% unless page.url contains "projetos" %}
 
    {% for item in site.data.samplelist.toc %}
 
    <li class="{% if item.url == page.url %}active{% endif %}">
 
        <a href="{{site.baseurl}}/{{item.url}}/{{}}">{{item.title}}</a>
        
        <ul>
            
            {% for area in item.subfolderitems %}
            
            <li>
                <a href="{{site.baseurl}}/{{area.url}}">{{area.page}}</a>
            </li>
            
            {% endfor %}
                
        </ul>
        
    </li>
  
    {% endfor %}    
  
    {% endunless %}

</ul>
