<nav>
    <ul>
        <li> <a class="{% if page.url == '/index.html' %}navitems{% endif %}" href="{{site.baseurl}}index.html">Home</a></li>
        <li> <a class="{% if page.url == '/about.html' %}navitems{% endif %}" href="{{site.baseurl}}about.html">About</a></li>
        <li> <a class="{% if page.url == '/work.html' %}navitems{% endif %}" href="{{site.baseurl}}work.html">Work</a></li>
        <li> <a class="{% if page.url == '/contacts.html' %}navitems{% endif %}" href="{{site.baseurl}}contacts.html">Contacts</a></li>
    </ul>
</nav>