<div class="tab-container">
    
    <ul>

        {% for item in site.data.samplelist.toc %}

        <li class="folder-items">

            <a href="{{site.baseurl}}/{{item.url}}">{{item.title}}</a> 

            <ul>

                {% for subfolderitem in item.subfolderitems %}

                <li class="subfolder-items">

                    <a href="{{site.baseurl}}/{{subfolderitem.url}}">{{subfolderitem.page}}</a>

                </li>

                {% endfor %}

            </ul>

        </li>

        {% endfor %}    

    </ul>
    
</div>