$icon_big-width: 80px;
$icon_medium-width: 40px;
$half-a-grand: 500px;
$hundred-views-width: 100vw;
$desktop-main: 60vw;
$visual-pleaser: 24px;
$eye-candy: 32px;
$fontastic: 16px;
$common-padding: 10px;
