@import "numbers";

@import "colors";
    
@mixin background-desktop {
    background-image: url(../assets/images/tapete.png); 
    background-size: 40% auto;
    background-attachment: fixed;
    background-repeat: repeat-y;
    background-position: left center;
    
}

@mixin logo-desktop {
    .logo {
        margin: 0;
        position: relative;
            
        #logo1, #logo2, #logo3 {
            width: $icon_big-width;
            height: 100px;
            margin: 0;
        }
    } 
}

@mixin no_padding_or_margin {
    padding: 0;
    margin: 0;
}

/* Base */

* {
    @include no_padding_or_margin;
    font-family: "SF Pro display", Arial;
    font-weight: 400;
    line-height: 26px;
    font-size: $fontastic;
    color: $font-color;
}

html {
    background-image: url(../assets/images/tapete.png);
    background-size: 100% auto;
}
 
body {
    @include no_padding_or_margin;
}

header {
    top: 0;
    left: 0;
    width: $hundred-views-width;
    height: 70px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    position: sticky;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    
    .logo {
        justify-content: space-around;
        width: 50px;
        display: flex;
    
        #logo1, #logo2, #logo3 {
            animation: logo 30s linear 0s infinite forwards;
            transform-origin: center;
        }
    }
}

main {
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    width: $hundred-views-width;
    margin: 0px auto;
    
    .logo-item {
        display: none;
    }
    
    .logo {
        display: none;
    }
}

/* Homepage */

.index {
    background: white;
    
    main {
        height: 100%;
    }
    
    .logo {
        width: $icon_big-width;
        height: $icon_big-width;
        padding-top: $eye-candy;
    }   
}

h1 {
    font-weight: 200;
    font-size: 68px;
    text-align: center;
    color: $font-color;
    padding: 18vh 0 10vh;
}

h2 {
    max-width: 240px;
    font-size: $fontastic;
    text-align: center;
    color: $font-color;
    top: 120px;
    margin: 0 auto;
    display: block;
    position: relative;
}

p .tapete {
    transform: rotate(90deg);
    top: 300px;
    min-width: $half-a-grand;
    position: fixed;
}

/* About */

.about {
    
    body {
        height: 100%;
    }
    
    main {
        padding: $icon_medium-width 0 100px;
        
        h3 {
            padding: $eye-candy 20px 0;
            font-weight: 500;
            text-align: center;
        }
        
        ul {
            list-style: none;
            max-width: $half-a-grand;
            padding: $visual-pleaser;
        }
        
        li {
            text-align: center;
            height: auto;
            margin-bottom: 12px;
            line-height: $visual-pleaser;
        }
    }
    
    p {
        max-width: $half-a-grand;
        padding: $common-padding 20px;
        
        img.photo {
            width: 100%;
        }
    }

}

/* Navigation between projects (WORK) */

.items-projetos {
    width: $hundred-views-width;
    margin: 0 auto;
    list-style: none;
    
    h3 {
        position: relative;
        top: 160px;
        color: white;
        text-transform: uppercase;
        text-shadow: 2px 3px 3px $orangina;
        font-weight: bold;
        font-size: $visual-pleaser;
        text-align: center;
    }
    
    img {
        width: $hundred-views-width;
        position: inherit;
        height: 100%;
        object-fit: cover; 
    }
}

li {
    height: 50vh;
}

/* Individual projects style */

.anatomic_studies,
.dead_nature,
._dirt,
.drawing_and_editing, 
.fragility_on_paper,
.people_in_motion,
._roof,
._smoked,
.squared_dream {
    
    main {
        margin-top: $icon_big-width;
    }

    h2 {
        text-transform: uppercase;
        text-shadow: 2px 3px 3px #403a22;
        font-weight: bold;
        font-size: $visual-pleaser;
        text-align: center;
        color: white;
        top: -50px;
    } 
    
    p {
        padding: 0px 5vw $visual-pleaser;
        font-size: $fontastic;
        max-width: 400px;
    }
    
    p:last-of-type {
        padding-bottom: 100px;
    }
    
    img.trabalho {
        width: 90vw;
    }
   
}


/* Contacts */

.contacts { 
    background: white;
    
    main  {
        background: white;
        height: 100%;
    }
    
    .logo {
        width: $icon_big-width;
        height: $icon_big-width;
        padding-top: $eye-candy;
    }
    
    .contacts-container {
        text-align: center;
        display: block;
        margin-top: 180px;
        padding: 20px 0;
    
        h3 {
            font-size: $eye-candy;
            font-weight: 300;
            padding-bottom: $fontastic;
        } 
    
        p {
            line-height: 28px;
        }
    
        p:nth-child(4) {
            padding-bottom: $common-padding;
        }
    }
    
    .connects svg {
        padding: $fontastic 4px $fontastic;
        width: $icon_medium-width;
        height: $eye-candy;
    }
}

/* Footer Navigation */

footer {
    bottom: 0;
    left: 0;
    position: fixed;
    background-color: white;
    height: 60px;
    width: $hundred-views-width;
    
    .nav-list {
        display: flex;
        justify-content: space-around;
    
    li {
        position: relative
    }
        
    a {
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 400;
        
    }
        
    .folder-items {
        padding: 18px 0;
        list-style: none;
    }

    .subfolder-items {
        display: none; 
        }
    }
}

@media (min-width: 650px) {
    
    /* Base */
    
    .grid {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "header header main main main"
            "header header main main main"
            "tapete tapete main main main"
            "footer footer main main main"
            "footer footer main main main"
    }

    header {
        position: fixed;
        grid-area: header;
        top: 0;
        width: 40vw;
        height: 140px;
        @include logo-desktop;
    } 
 
    
    p .tapete {
        display: none;
    }
  
    main {
        grid-area: main;
        width: $desktop-main;
        background-color: white;
        height: 100%;
    }
    
    /* Homepage */
    
    .index {
        text-align: center;
        @include background-desktop;  
        
        header {
            width: $hundred-views-width;
            background-color: rgba(255, 255, 255, 0);
            
            .logo {
                display: none;
            }
        }
        
        h1 {
            font-size: $icon_big-width;
        }
        
        h2 {
            margin-top: $icon_big-width;
        }
        
        p {
            display: inline-block;
        }
        
        .logo-item {
            display: block;
            width: 120px;
            height: 140px;
        }
    }
    
    /* Work */
    
    .work {
        background-image: none;
        @include logo-desktop;
        
        img.trabalho {
            width: $desktop-main;
        }
    }
    
    .items-projetos {
        width: $desktop-main;
        
        img {
            width: $desktop-main;
            transition: width 2s;
        }
        
        img:hover {
            width: 64vw;
        }
    }
    
    .anatomic_studies, 
    .dead_nature, 
    ._dirt, 
    .drawing_and_editing, 
    .fragility_on_paper, 
    .people_in_motion, 
    ._roof, 
    ._smoked, 
    .squared_dream {
        @include background-desktop;
        
        main {
            background-color: white;
            width: $desktop-main;
            height: 100%;
            margin-top: 0;
        }
        
        h2 {
            display: none;
        }
        
        img.trabalho {
            width: 50vw;
        }
        
        p:first-of-type {
            margin-top: $eye-candy;
        }
    }
    
    /* About */
    
    .about {
        padding-top: $common-padding;
        @include background-desktop;
        
        p { 
            margin: 0 auto;
        }
        
        p:nth-child(4) {
                padding: 0 0 20px;
                margin: 0;
            
                img {
                    padding-top: $common-padding;
                    width: $desktop-main;
                }
            } 
        
        ul {
            margin: 0 auto;
        }
    }
    
    /* Contacts */
    
    .contacts {
        text-align: center;
        @include background-desktop;
        
        main {
            height: 100%;
            width: $desktop-main;
        }
      
        .contacts-container {
            
            h3 {
                font-size: $icon_medium-width;
                text-transform: none;
                font-weight: 200;
                padding-bottom: $eye-candy;
            }
            
            p:nth-child(3) {
                padding-bottom: 20px;
            }
            
            svg {
                transition: color 2s linear 0;
            }
            
            svg:hover {
                fill: $orangina;
            }
        }
        
        .logo {
            padding-top: 0;
        }
    }
    
    footer {
        grid-area: footer;
        width: 40vw;
        
        a:hover {
            padding: 20px $common-padding;
            color: $orangina;
        }
    }
}


@keyframes logo {
    from {transform: rotate(0deg)};
    to {transform: rotate(360deg)};
}

@keyframes hover {
    from {transform: scale(100%)};
    to {transform: scale(104%)};
}
 