* {
    padding: 0;
    margin: 0;
    font-family: "SF Pro display", Arial;
    font-weight: 400; 
}

 
body {
    padding: 0;
    display: flex; 
}

header {
    top: 0;
    left: 0;
    width: 100vw;
    height: 70px;
    background-color: white;
    opacity: 90%; 
    display: flex;
    position: sticky;
    justify-content: space-around;
    align-items: center;
}

.logo {
    justify-content: space-around;
    padding-top: 0px;
    width: 60px;
    display: flex;
}

main {
    justify-content: center;
}

p .tapete {
    transform: rotate(90deg);
    object-fit: contain;
    width: 100%;
    position: fixed;
}

h1 {
    font-weight: 200;
    font-size: 68px;
    text-align: center;
    color: #0c0e12;
    padding-top: 10vh;
}

h2 {
    max-width: 240px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #0c0e12;
    top: 100px;
    margin: 0 auto;
    display: block;
    position: relative;
}


main {
    width: 100vw;
    margin: 40px auto 100px; 
}

.projetos {
    width: 100vw;
    margin: 0 auto;
    list-style: none;
}

.projetos a {
    height: 100px;
    
}

.projetos li {
    padding: 0;
    margin: 0;
}

.projetos h3 {
    position: relative;
    top: 160px;
    color: white;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px #403a22;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.projetos p {
    padding: 0;
    margin: 0;
    width: 100vw;
}

.projetos img {
    width: 100vw;
    position: inherit;
    height: 200px;
    object-fit: cover; 
}

.contacts {
    background-color: yellow;
    text-align: center; 
}

.contacts p {
    padding: 0;
    line-height: 32px; 
}

footer {
    bottom: 0;
    left: 0;
    position: fixed;
    background-color: white;
    height: 60px;
    width: 100vw;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.8); 
}


.nav-list {
    display: flex;
    justify-content: space-around;
}

.nav-list a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    
}

.folder-items {
    padding: 20px 0;
    list-style: none;
}

.subfolder-items {
    display: none; 
}

@keyframes titles {
    0% {left: 24px;}
    100% {right: 24px;}
}