---
layout: default
title: Categoria
---

<nav>
    
    <ul>
        
        {% for projeto in site.projetos %}
        
        {% if page.category == projeto.category %}
        
        <li>
            
            <h3>{{projeto.title}}</h3>
            
            <a href="{{site.baseurl}}{{projeto.url }}">
            
                <img src="{{site.baseurl}}/assets/images/{{projeto.img}}.png" alt="{{projeto.imgdescription}}">
        
            </a>
    
        </li>

        {% endif %}
        
        {% endfor %}
        
    </ul>

</nav>

<h2>{{page.title}}</h2> 

