---
layout: default
title: Projetos
---

{{content}}

<nav>
    
    <ul>
        
        {% for trabalho in site.projetos %}
        
        <li>
            
            <h3>{{trabalho.title}}</h3>
            
            <a href="{{site.baseurl}}/{{trabalho.url}}">
            
                <img src="{{site.baseurl}}/assets/images/{{trabalho.img}}.png" alt="{{trabalho.imgdescription}}">
        
            </a>
    
        </li>    

        {% endfor %}

    </ul>

</nav>

<h2>{{page.title}}</h2> 
