---
layout: default
title: Projetos
---

{{content}}


<nav>
    
    <ul>
        
        {% for projeto in site.projetos %}
        
        <li>
            
            <h3>{{projeto.title}}</h3>
            
            <a href="{{site.baseurl}}{{projeto.url}}">
            
                <img src="{{site.baseurl}}/assets/images/{{projeto.img}}.png" alt="{{projeto.imgdescription}}">
        
            </a>
    
        </li>    

        {% endfor %}

    </ul>

</nav>

<h2>{{page.title}}</h2> 
